{% extends 'base.html' %} 

{% block meta %}
<style>
    body{
      background-image:url(https://64.media.tumblr.com/351dcf1edf1508fd64b65832ea0b2859/8d02bcc47acccc1c-d0/s1280x1920/fe927ea7b04e33e033ff4fb176cdeaa3dff0af81.gif);
      background-repeat: no-repeat;
        background-size: cover; 
    }

    .additemform {
    color: black;
    }
  </style>
{% endblock meta %}

{% block content %}
<h1>Add New Item</h1>

<form method="POST" class="additemform"> <!--block is using POST method-->
    {% csrf_token %} <!--Security token-->
    <table  class="tw-text-black">
        {{ form.as_table }} 
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Item"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}