<!DOCTYPE html>

<html>

    <head>
        <!-- <meta charset="utf-8"> -->
        <title>HAMMERSPACE</title>
        <!-- <link rel="stylesheet" href="stylesheet.css"> -->
    </head>

    <body>
        <div class="header">
            <div class="header-ribbon-logo">hammerspace</div>
            <div class="header-list">
              <ul>
                <li>Profile</li>
                <li>Settings</li>
                <li>Contact us</li>
              </ul>
            </div>
            <div class="nama_dan_kelas">
              <h5>Nama: </h5>
              <p>{{ nama }}</p>
              <h5>Kelas: </h5>
              <p>{{ kelas }}</p>
              <h5>Aplikasi: </h5>
              <p>{{ aplikasi }}</p>
            </div>
        </div>

        <div class="main">
            <div class="copy-container">
              <h1>YOUR ITEMS<span>:</span></h1>
            </div>

            <h5>Name: </h5>
            <p>{{ name }}</p>
            <h5>Amount: </h5>
            <p>{{ amount }}</p>
            <h5>Description: </h5>
            <p>{{ description }}</p>
            
        </div>
    </body>

    
</html>





