{% extends 'base.html' %}
 <!--from templates folder in root directory-->
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>HAMMERSPACE</title>
        <link rel="stylesheet" href="main_html.css">
    </head>

    <body>
        {% block content %}
        <div class="header">
            <div class="header-ribbon-logo"><h1>hammerspace</h1></div>
            <div class="header-list">
              <ul>
                <li>Profile</li>
                <li>Settings</li>
                <li>Contact us</li>
              </ul>
            </div>
            <div class="nama_dan_kelas">
              <h5>Nama: </h5>
              <p>{{ nama }}</p>
              <h5>Kelas: </h5>
              <p>{{ kelas }}</p>
              <h5>Aplikasi: </h5>
              <p>{{ aplikasi }}</p>
            </div>
        </div>

        <hr color="navy" size="5" width="100%">

        <div class="main">
          <!-- <table>
              <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Description</th>
                  <th>Date Added</th>
              </tr>
          
              {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
          
              {% for product in products %}
                  <tr>
                      <td>{{item.name}}</td>
                      <td>{{item.price}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.date_added}}</td>
                  </tr>
              {% endfor %}
          </table> -->

            <br />
          
            <a href="{% url 'main:create_item' %}">
                <button>
                    Add New Item
                </button>
            </a>
          
            <div class="view_items">
              <h3>YOUR ITEMS<span>:</span></h3>
              <h4>Items saved: {{ items_counter }}</h4>
            </div>
            
          </table>
            {% for item in items%}
              <tr>
                <td>Name: {{ item.name }}</li>
                <td>Amount: {{ item.amount }}</li>
                <td>Description: {{ item.description }}</li><br>
                <td>
                    <a href="{% url 'main:edit_product' item.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' item.pk %}">
                      <button>
                          Delete
                      </button>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </table>
                

        <h5>Sesi terakhir login: {{ last_login }}</h5>

        <a href="{% url 'main:logout' %}">
          <button>
              Logout
          </button>
        </a>
            
        </div>
        {% endblock content %}
    </body>

</html>




